<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Source:</b>
  
  <div class="flex-video">
  	<iframe width="420" height="315" src=<%= @video.source %> frameborder="0" allowfullscreen></iframe>
  </div>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
