<%= simple_form_for(@photo) do |f| %>
	<%= f.error_notification %>

	<div class="large-8 columns">
		<%= f.input :name %>
	</div>
	<div class="large-8 columns">
		<label>Photo</label>
		<%= f.file_field :image %>
	</div>
	<div class="large-8 columns">
		<%= f.button :submit , :class => "tiny button"%>
	</div>
<% end %>
