<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Catchmenow" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= favicon_link_tag "/assets/favicon.png" %>
    <%= csrf_meta_tags %>
  </head>

  <body>



    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Catchmenow", root_path %></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>

      </ul>
      <!-- <ul class="left">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Search here....">
            </div>
            <div class="large-4 small-3 columns">
              <a href="" class="button expand">Search</a>
            </div>
          </div>
        </li>
      </ul> -->
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "Videos", videos_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Gallery", photos_path %></li>
          <li class="divider"></li>
          <li><%= link_to "News", socials_path %></li>
          <li class="divider"></li>
          <li><%= link_to "About Us", about_path %></li>
          <li class="divider"></li>
          <% if user_signed_in? %>
            <li class="has-dropdown">
              <%= link_to current_user.email %>
              <ul class="dropdown">
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-form">
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'button' %>
            </li>
          <% else %>
            <li class="has-form">
              <%= link_to "Sign up", new_user_registration_path, :class => 'button' %>
            </li>
            <li class="divider"></li>
            <li class="has-form">
              <%= link_to "Sign in", new_user_session_path, :class => 'button' %>
            </li>
            <% end %>
        </ul>
      </section>
    </nav>
    <br><br>
    <div class="row">
      <div class="large-12 columns"><%= yield %></div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
<br><br><br>